# Virtual environment
/.venv

# .idea files from Pycharm
/.idea
/tutorials-DO-NOT-USE/intro_ball.gif
/tutorials-DO-NOT-USE/data/ball-DONT-USE.png
/tutorials-DO-NOT-USE/pygame-youtube-tutorial-4-hours/graphics/
/tutorials-DO-NOT-USE/pygame-youtube-tutorial-4-hours/font/
/tutorials-DO-NOT-USE/pygame-youtube-tutorial-4-hours/audio/
