# Virtual environment
/.venv

# .idea files from Pycharm
/.idea
/test-games-from-tutorials/intro_ball.gif
/test-games-from-tutorials/data/ball-DONT-USE.png
/test-games-from-tutorials/pygame-youtube-tutorial-4-hours/graphics/
/test-games-from-tutorials/pygame-youtube-tutorial-4-hours/font/
/test-games-from-tutorials/pygame-youtube-tutorial-4-hours/audio/
